/* 版心设置 多处使用*/
.container {
    width: 1190px;
    /* 不需要高度：内容动态变化，自动扩展*/
    /*居中*/
    margin: 0 auto;

}

/* #region顶部导航条start */
.topbar {
    /* 不需要宽度，撑满整个屏幕 */
    height: 30px;
    background-color: #ECECEC;
}

/* 左边欢迎区 */
.welcome {
    height: 30px;
    line-height: 30px;
    /* 消除行间距 */
    font-size: 0;
    /* 文字颜色 */
    color: #666
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome .hello {
    margin-right: 28px;
}

.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}

.welcome .register {
    padding-left: 10px
}

/* 右边导航区 */
.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.topbar-nav .list li:first-child a {
    padding-left: 0;
}

.topbar-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}

/* #endregion顶部导航条end */

/* #region头部start */

.header {
    /* background-color: aquamarine; */
}

.header .search {
    font-size: 0;
    margin-top: 42px;
}

.header input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}

.search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url('../images/search_icon.png');
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* #endregion头部end */

/* #region 主导航区 start */
.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav .all-types {
    width: 190px;
    height: 48px;
    line-height: 48px;
    background: #DD302D;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
}

.main-nav .main-nav-list {
    height: 48px;
    line-height: 48px;
}


.main-nav .main-nav-list li {
    float: left;
    padding: 0 10px;
    font-size: 16px;
}

/* #endregion 主导航区 end */

/* #region 主内容 start */
.main-content {
    margin-top: 10px;
}

.main-content .slide-nav {
    height: 458px;
    width: 190px;
    background-color: #F4F4F4;
    position: relative;
}

.main-content .slide-nav li {
    padding-left: 16px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}

.main-content .slide-nav li:hover {
    background-color: #DD302D;

}

.main-content .slide-nav li:hover>a {
    color: white;
}

.main-content .slide-nav li:hover .second-menu {
    display: block;
}

.second-menu {
    top: 0;
    left: 190px;
    height: 458px;
    width: 700px;
    background-color: #F4F4F4;
    position: absolute;
    display: none;
}

.second-menu dl {
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
}

.second-menu dl:first-child {
    padding-top: 10px;
}

.second-menu dt {
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 70px;
    padding-right: 10px;
}

.second-menu dd {
    float: left;
    font-size: 14px;
}

.second-menu a {
    padding: 0 10px;
    border-left: 1px solid #666;
}

.main-content .banner {
    height: 458px;
    width: 690px;
    /* background-color: #666; */
    margin: 0 10px;
}

.main-content .other-slide {
    height: 458px;
    width: 290px;
}

.other-slide .message {
    height: 156px;
    width: 260px;
    /* padding影响盒子大小 */
    padding: 0 14px;
    border: 1px solid #666;
}

.other-slide .msg-title {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #666;
}

.other-slide .msg-title span {
    font-size: 14px;
    font-weight: bold;
}

.other-slide .msg-title a {
    font-size: 12px;
}

.other-slide li {
    height: 26px;
    width: 290px;
    line-height: 26px;
}

.msg-nav {
    margin-top: 10px;
    height: 290px;
    width: 290px;
    /* 塌陷 */
    overflow: hidden;
}

.msg-nav .msg-nav-list:first-child {
    margin-top: 16px;
}

.msg-nav .msg-nav-list{
    margin-bottom: 16px;
}

.msg-nav .msg-nav-list li {
    width: 48px;
    height: 71px;
    float: left;
    margin: 0 11px;
    text-align: center;
}

.msg-nav .msg-nav-list li .picture {
    width: 48px;
    height: 48px;
    /* color: #DD302D; */
    background-image: url('../images/精灵图-侧边功能.png');
}
.msg-nav .msg-nav-list li:first-child {
    margin-left: 16px;
}

.msg-nav .msg-nav-list:nth-child(1) li:nth-child(1) .picture {
    background-position: 0px 0px;
}

.msg-nav .msg-nav-list:nth-child(1) li:nth-child(2)  .picture {
    background-position: -48px 0px;
}

.msg-nav .msg-nav-list:nth-child(1) li:nth-child(3)  .picture {
    background-position: -96px 0px;
}

.msg-nav .msg-nav-list:nth-child(1) li:nth-child(4)  .picture {
    background-position: -144px 0px;
}

.msg-nav .msg-nav-list:nth-child(2) li:nth-child(1) .picture {
    background-position: 0px -48px;
}

.msg-nav .msg-nav-list:nth-child(2) li:nth-child(2)  .picture {
    background-position: -48px -48px;
}

.msg-nav .msg-nav-list:nth-child(2) li:nth-child(3)  .picture {
    background-position: -96px -48px;
}

.msg-nav .msg-nav-list:nth-child(2) li:nth-child(4)  .picture {
    background-position: -144px -48px;
}

.msg-nav .msg-nav-list:nth-child(3) li:nth-child(1) .picture {
    background-position: 0px -96px;
}

.msg-nav .msg-nav-list:nth-child(3) li:nth-child(2)  .picture {
    background-position: -48px -96px;
}

.msg-nav .msg-nav-list:nth-child(3) li:nth-child(3)  .picture {
    background-position: -96px -96px;
}

.msg-nav .msg-nav-list:nth-child(3) li:nth-child(4)  .picture {
    background-position: -144px -96px;
}

/* #endregion 主内容 end */

/* #region start */
/* #endregion end */